.movies {
  margin: 0 auto;
  width: calc(100% - 140px);
}

.movies__error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

@media screen and (max-width: 968px) {
  .movies {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 768px) {
  .movies {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 568px) {
  .movies {
    width: calc(100% - 20px);
  }
}