.portfolio {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.portfolio__title {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 51px;
}

.portfolio__list {
  list-style-type: none;
    padding: 0;
    margin: 0;
}

.portfolio__item {
  border-bottom: 1px solid rgba(66, 66, 66);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.portfolio__link {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.portfolio__link:last-child {
  border-bottom: none;
}

.portfolio__link-icon {
  background-image: url('../../images/linkIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    width: calc(100% - 100px);
  }

  .portfolio__item {
    border-bottom: 1px solid rgba(230, 230, 230);
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 655px) {
  .portfolio {
    width: calc(100% - 28px);
  }

  .portfolio__title {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    margin: 0 0 40px;
  }

  .portfolio__item {
    padding-bottom: 19px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__link-icon {
    width: 18px;
  }
}