.promo {
  background: #073042;
  max-width: 100%;
  min-height: 560px;
  display: flex;
  justify-content: center;
}

.promo__container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px
}

.promo__text {
  width: 626px;
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 102px;
  margin-top: 50px;
  letter-spacing: -1.6px;
}

.promo__image {
  width: 722px;
  height: 244px;
  margin-left: 418px;
}