.search {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  margin-top: 70px;
}

.search__icon {
  width: 34px;
  height: 34px;
  padding-right: 10px;
  background-color: #2F2F2F;
  margin-left: 19px;
}

.search__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2F2F2F;
  border-radius: 9px;
}

.search__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search__container::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  height: 40px;
  width: 1px;
  background-color: rgba(66, 66, 66);
  margin-right: 29px;
}

.search__input {
  background-color: #2F2F2F;
  border: none;
  width: 88%;
  height: 34px;
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.search__input:focus {
  border-color: #0078d4;
  box-shadow: 0 0 8px #0078d4;
}

.search__button-cover {
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  background-color: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 19px;
  bottom: 0;
}

.search__button {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  background-color: #4285F4;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search__button:hover {
  opacity: .8;
  transition: 0.7s ease;
}

@media screen and (max-width: 868px) {
  .search {
    max-width: 707px;
    margin: 0 auto;
    margin-top: 77px;
  }

  .search__container::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    height: 40px;
    width: 1px;
    background-color: rgba(66, 66, 66);
    margin-right: 20px;
  }

  .search__input {
    width: 80%;
  }

  .search__button-cover {
    right: 40px;
  }
}

@media screen and (max-width: 658px) {
  .search {
    flex-direction: column;
  }

  .search__form {
    background-color: inherit;
    flex-direction: column;
    align-items: center;
  }

  .search__container {
    background-color: #2F2F2F;
    padding: 18px 0;
    border-radius: 9px;
  }

  .search__icon {
    display: none;
  }

  .search__input {
    font-size: 14px;
    margin-left: 19px;
    width: 93%;
  }

  .search__container::after {
    display: none;
  }

  .search__button-cover {
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 450px) {
  .search__input {
    width: 90%;
  }
}