.saved-movies {
  margin: 0 auto;
  width: calc(100% - 140px);
}

.saved-movies__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin: 0 auto;
  width: 100%;
  column-gap: 20px;
  row-gap: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 69px;
  margin-bottom: 59px;
  border-top: 1px solid rgba(66, 66, 66);
  padding-top: 80px;
  min-height: 300px;
  overflow-y: hidden;
}

.saved-movies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.saved-movies__error {
  display: flex;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 968px) {
  .saved-movies {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 768px) {
  .saved-movies {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 568px) {
  .saved-movies {
    width: calc(100% - 20px);
  }
}