.header {
  padding: 19px 0;
}

.header__content {
  display: flex;
  width: calc(100% - 140px);
  margin: 0 auto;
  justify-content: space-between;
  background-clip: content-box;
}

.header__icon {
  width: 38px;
  height: 38px;
  margin-right: 45px;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header__text {
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-right: 16px;
}

.hover:hover {
  opacity: .8;
  transition: 0.7s ease;
}

.header__sign-up {
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  width: 77px;
  min-height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__sign-in {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  width: 76px;
  min-height: 32px;
  border: none;
  padding: 0;
  background-color: #3DDC84;
  border-radius: 3px;
  margin-left: 30px;
  cursor: pointer;
}

.header__container-account {
  display: flex;
  align-items: center;
}

.header__account {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  cursor: pointer;
  text-decoration: none;
}

.header__cover {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  margin-right: 4px;
}

.header__account-icon {
  width: 10.383px;
  height: 10.669px;
}