.register {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.register__logo {
  width: 38px;
  height: 38px;
}

.register__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 37px 0 38px;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__label {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.register__input {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(66, 66, 66);
  padding-bottom: 9px;
}

.register__input:focus {
  border-color: #0078d4;
  box-shadow: 0 0 8px #0078d4;
}

.register__input:nth-child(3n) {
  color: #EE3465;
  margin-bottom: 0;
}

.register__error {
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  height: 24px;
}

.register__button {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-top: 133px;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  max-width: 396px;
  height: 45px;
  cursor: pointer;
}

.register__button:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.register__button_type_signin {
  margin-top: 196px;
}

.hover:hover {
  opacity: .8;
  transition: 0.7s ease;
}

.register__container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.register__text {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.register__auth {
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 6px;
}

@media screen and (max-width: 468px) {
  .register {
    max-width: 260px;
    align-items: center;
    padding-top: 56px;
  }

  .register__title {
    margin: 48px 0 78px;
  }

  .register__button {
    font-size: 12px;
    margin-top: 222px;
  }

  .register__container {
    margin-top: 14px;
  }

  .register__text {
    font-size: 12px;
  }

  .register__auth {
    font-size: 12px;
    margin-left: 7px;
  }

  .register__button_type_signin {
    margin-top: 285px;
  }
}