.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 140px);
  padding-top: 90px;
}

.footer__text {
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgb(66, 66, 66);
  padding-bottom: 20px;
  margin: 0;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__date {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__container {
  display: flex;
}

.footer__paragraph {
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 60px);
    padding-top: 60px;
  }
}

@media screen and (max-width: 455px) {
  .footer {
    width: calc(100% - 20px);
    padding-top: 41px;
  }

  .footer__text {
    font-size: 12px;
    padding-bottom: 21px;
  }

  .footer__copyright {
    flex-direction: column-reverse;
  }

  .footer__date {
    font-size: 12px;
    margin-top: 30px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__paragraph {
    font-size: 12px;
    margin: 12px 0 0;
  }
}